<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

    <table class="search-table">
        <thead class="table-headers">
            <tr>
                <th>Park name</th>
                <th>Park address</th>
                <th>Comments</th>
                <th>Reporter name</th>
                <th>Reporter email</th>
           </tr>
        </thead>
        <tbody>
            <% for (park of allParks) { %>
                <tr>
                    <td><%= park.parkName %></td>
                    <td><%= park.parkAddress %></td>
                    <td><%= park.helpText %></td>
                    <td><%= park.userName %></td>
                    <td><%= park.userEmail %></td>
                </tr>
            <% } %>
        </tbody>
    </table>

<%- include('../partials/footer') -%>