<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

    <table class="search-table">
        <thead class="table-headers">
            <tr>
                <th>Park name</th>
                <th>Park address</th>
                <th>Planned date</th>
                <th>Planned time</th>
                <th>Reporter name</th>
                <th>Reporter email</th>
                <th>Post on social?</th>
           </tr>
        </thead>
        <tbody>
            <% for (volunteer of allVolunteers) { %>
                <td><%= volunteer.parkName %></td>
                <td><%= volunteer.parkAddress %></td>
                <td><%= volunteer.volunteerDate %></td>
                <td><%= volunteer.volunteerTime %></td>
                <td><%= volunteer.userName %></td>
                <td><%= volunteer.userEmail %></td>
                <td><%= volunteer.moreVolunteers %></td>
            <% } %>
        </tbody>
    </table>

<%- include('../partials/footer') -%>
